[user]
	email = liuerfire@gmail.com
	name = liuerfire
	signingkey = C1F4EEE16FB4E84C
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[commit]
	gpgsign = true
[pull]
	ff = only
[include]
	path = ~/.gitconfig_private

