pane_frames false
show_startup_tips false
default_layout "compact"


keybinds {
  normal {
    unbind "Ctrl p" "Ctrl n"
    bind "Alt t" { NewTab; SwitchToMode "Normal"; }
    bind "Alt [" { GoToPreviousTab; }
    bind "Alt ]" { GoToNextTab; }
    bind "Alt s" { NewPane; SwitchToMode "Normal"; }
    bind "Alt Shift s" { NewPane "Down"; SwitchToMode "Normal"; }
    bind "Alt h" { MoveFocus "Left"; }
    bind "Alt j" { MoveFocus "Down"; }
    bind "Alt k" { MoveFocus "Up"; }
    bind "Alt l" { MoveFocus "Right"; }

    bind "Alt 1" { GoToTab 1; SwitchToMode "Normal"; }
    bind "Alt 2" { GoToTab 2; SwitchToMode "Normal"; }
    bind "Alt 3" { GoToTab 3; SwitchToMode "Normal"; }
    bind "Alt 4" { GoToTab 4; SwitchToMode "Normal"; }
    bind "Alt 5" { GoToTab 5; SwitchToMode "Normal"; }
    bind "Alt 6" { GoToTab 6; SwitchToMode "Normal"; }
    bind "Alt 7" { GoToTab 7; SwitchToMode "Normal"; }
    bind "Alt 8" { GoToTab 8; SwitchToMode "Normal"; }
    bind "Alt 9" { GoToTab 9; SwitchToMode "Normal"; }
  }
  search {
    bind "Ctrl s" { SwitchToMode "Normal"; }
    bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
    bind "j" "Down" { ScrollDown; }
    bind "k" "Up" { ScrollUp; }
    bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
    bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
    bind "d" { HalfPageScrollDown; }
    bind "u" { HalfPageScrollUp; }
    bind "n" { Search "down"; }
    bind "p" { Search "up"; }
    bind "c" { SearchToggleOption "CaseSensitivity"; }
    bind "w" { SearchToggleOption "Wrap"; }
    bind "o" { SearchToggleOption "WholeWord"; }
  }
  entersearch {
    bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
    bind "Enter" { SwitchToMode "Search"; }
  }
}
